table {
    border: 1px black solid;
    border-collapse: collapse;
    width: 100%;
    height: 30px;
}
th {
    height: 30px;
}

td {
    margin: 10px;
    height: 25px;
}

tr:hover {
    background-color: wheat;
    cursor: pointer;
}
h1 {
    text-align: center;
    margin-top: 50px;
}